project_01/src/main/mule/curse_mule/super_hero.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow
		name="get_character_id"
		doc:id="4d65d30c-cae3-4788-99c0-db3c592f4257">
		<http:listener
			doc:name="Listener"
			doc:id="8c45dfa5-5aac-43cc-bbe4-82271e906261"
			config-ref="HTTP_Listener_curse"
			path="/hero/{character_id}" />
		<ee:transform
			doc:name="Transform Message"
			doc:id="5656c766-b8e8-4c7a-a969-8b94b861fe7c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="character_id"><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.character_id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request
			method="GET"
			doc:name="Request"
			doc:id="40972943-2b53-4d80-8bad-5c7f81146c31"
			config-ref="HTTP_Request_superhero_api"
			path="/api.php/4720256291420995/{character-id}">
			<http:uri-params><![CDATA[#["character-id": vars.character_id]]]></http:uri-params>
		</http:request>
		<ee:transform
			doc:name="Transform Message"
			doc:id="ce965ade-ff87-46b1-be61-5f78fd9866c7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var filtro = ["id", "name", "powerstats", "appearance", "work"]
---
// filtro map ((item, index) -> item)
payload filterObject (filtro contains ($$ as String))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	 <flow name="super_heroFlow" doc:id="4fb01b64-ac61-4658-a15c-15c92eb78c52" > <http:listener doc:name="Listener" 
		doc:id="9d4fc436-1fd3-4d42-b130-b011aee021be" config-ref="HTTP_Listener_curse" path="/hero/search/{name}"/>
		<ee:transform doc:name="Transform Message" doc:id="16209b0c-fd90-47b3-9a88-9bfd21d0ac54" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="name" ><![CDATA[attributes.uriParams.name]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="15d45413-e8b9-495d-846b-3bd7d294f241" config-ref="HTTP_Request_superhero_api" path="/api.php/4720256291420995/search/{name}">
			<http:uri-params ><![CDATA[#["name": vars.name]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="51f5a956-39bd-4a69-80c4-35658b607405" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.results map {
	"Id": $.id,
    "Name": $.name,
    "Power": $.powerstats,
    "Apparence": $.appearance,
    "Work": $.work
}]]></ee:set-payload>
			</ee:message>
		</ee:transform> 
</flow>
</mule>
